* {
 
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  
}
hr{
  width: 100em;
}
.footer{
  text-align: center;
  color: gray;
}
.header{
  text-align: center;
}
.main{
  text-align: center;
}
.img{
position: sticky;
left: 5.94%;
right: 89.77%;
top: 31.25%;
bottom: 31.25%;


}
.text{
position: sticky;
left: 5.17%;
right: 75.86%;
top: 31.48%;
bottom: 31.48%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 88.02%;
align-items: center;
justify-content: center;
color: #000000;


}
.menu{
  position: sticky;
 left: 90%;
  

}
.boxModal{
  width: 100px;
  height: 100px;
}
.header{
  box-shadow: 5px 5px 5px 5px rgb(211, 209, 209);
 
}

